body {
  overflow-x: hidden;
  background-color: hsl(75, 100%, 85%);
}

.header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: hsl(101, 100%, 25%);
}

.teaDispaly {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
  gap: 2rem;
  margin: auto;
  padding-left: 1.5rem;
}

.teaCard {
  background: hsl(101, 100%, 35%);
  width: 410px;
  height: 472px;
  display: inline-block;
  margin: auto;
  border: 1rem;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -10px black;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.teaCard:hover {
  background: hsl(101, 100%, 25%);
}

.category {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: hsl(60, 100%, 50%);
  margin-top: 10px;
}

.teaName {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 5px;
  color: black;
}

.teaCardImg {
  display: flex;
  position: relative;
  height: 400px;
  width: 400px;
  margin-left: 5px;
  border-radius: 10px;
}
